<?php

$softwares_list = array();
{% if pimpmylog_enable_mysql_software %}
$softwares_list[] = 'mysql';
{% endif %}
foreach ( $softwares_list as $sfw ) {
	$config_file = '../cfg/' . $sfw . '.config.user.php';
	include_once( $config_file );
	$loader = $sfw . '_load_software';
	if ( function_exists( $loader ) ) {
		$cfg = call_user_func( $loader );
		if ( is_array( $cfg ) ) {
			$softwares_all[ $sfw ] = $cfg;
		}
	}
}
